.body-dark {
  color-scheme: dark;
  color: #f8f8f2;
  background-color: #282a36;
}

.markdown-body-dark {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 750px;
  margin: auto;
  color: #f8f8f2;
  background-color: #282a36;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body-dark .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body-dark h1:hover .anchor .octicon-link:before,
.markdown-body-dark h2:hover .anchor .octicon-link:before,
.markdown-body-dark h3:hover .anchor .octicon-link:before,
.markdown-body-dark h4:hover .anchor .octicon-link:before,
.markdown-body-dark h5:hover .anchor .octicon-link:before,
.markdown-body-dark h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body-dark details,
.markdown-body-dark figcaption,
.markdown-body-dark figure {
  display: block;
}

.markdown-body-dark summary {
  display: list-item;
}

.markdown-body-dark a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

.markdown-body-dark a:active,
.markdown-body-dark a:hover {
  outline-width: 0;
}

.markdown-body-dark abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-body-dark b,
.markdown-body-dark strong {
  font-weight: 600;
}

.markdown-body-dark dfn {
  font-style: italic;
}

.markdown-body-dark h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

.markdown-body-dark mark {
  background-color: #ff0;
  color: #c9d1d9;
}

.markdown-body-dark small {
  font-size: 90%;
}

.markdown-body-dark sub,
.markdown-body-dark sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body-dark sub {
  bottom: -0.25em;
}

.markdown-body-dark sup {
  top: -0.5em;
}

.markdown-body-dark img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #282a36;
}

.markdown-body-dark code,
.markdown-body-dark kbd,
.markdown-body-dark pre,
.markdown-body-dark samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

.markdown-body-dark figure {
  margin: 1em 40px;
}

.markdown-body-dark hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

.markdown-body-dark html [type=button],
.markdown-body-dark [type=reset],
.markdown-body-dark [type=submit] {
  -webkit-appearance: button;
}

.markdown-body-dark [type=button]::-moz-focus-inner,
.markdown-body-dark [type=reset]::-moz-focus-inner,
.markdown-body-dark [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdown-body-dark [type=button]:-moz-focusring,
.markdown-body-dark [type=reset]:-moz-focusring,
.markdown-body-dark [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdown-body-dark [type=checkbox],
.markdown-body-dark [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body-dark [type=number]::-webkit-inner-spin-button,
.markdown-body-dark [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body-dark [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdown-body-dark [type=search]::-webkit-search-cancel-button,
.markdown-body-dark [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body-dark ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body-dark ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown-body-dark a:hover {
  text-decoration: underline;
}

.markdown-body-dark hr::before {
  display: table;
  content: "";
}

.markdown-body-dark hr::after {
  display: table;
  clear: both;
  content: "";
}

/*
.markdown-body-dark table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body-dark td,
.markdown-body-dark th {
  padding: 0;
}
*/

.markdown-body-dark details summary {
  cursor: pointer;
}

.markdown-body-dark details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body-dark kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110,118,129,0.4);
  border-bottom-color: rgba(110,118,129,0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110,118,129,0.4);
}

.markdown-body-dark h1,
.markdown-body-dark h2,
.markdown-body-dark h3,
.markdown-body-dark h4,
.markdown-body-dark h5,
.markdown-body-dark h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body-dark h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

.markdown-body-dark h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body-dark h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body-dark h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body-dark h6 {
  font-weight: 600;
  font-size: .85em;
  color: #8b949e;
}

.markdown-body-dark p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body-dark blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: .25em solid #30363d;
}

.markdown-body-dark ul,
.markdown-body-dark ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body-dark ol ol,
.markdown-body-dark ul ol {
  list-style-type: lower-roman;
}

.markdown-body-dark ul ul ol,
.markdown-body-dark ul ol ol,
.markdown-body-dark ol ul ol,
.markdown-body-dark ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body-dark dd {
  margin-left: 0;
}

.markdown-body-dark tt,
.markdown-body-dark code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown-body-dark pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body-dark :-ms-input-placeholder {
  color: #484f58;
  opacity: 1;
}

.markdown-body-dark ::-ms-input-placeholder {
  color: #484f58;
  opacity: 1;
}

.markdown-body-dark ::placeholder {
  color: #484f58;
  opacity: 1;
}

.markdown-body-dark .pl-c {
  color: #8b949e;
}

.markdown-body-dark .pl-c1,
.markdown-body-dark .pl-s .pl-v {
  color: #79c0ff;
}

.markdown-body-dark .pl-e,
.markdown-body-dark .pl-en {
  color: #d2a8ff;
}

.markdown-body-dark .pl-smi,
.markdown-body-dark .pl-s .pl-s1 {
  color: #c9d1d9;
}

.markdown-body-dark .pl-ent {
  color: #7ee787;
}

.markdown-body-dark .pl-k {
  color: #ff7b72;
}

.markdown-body-dark .pl-s,
.markdown-body-dark .pl-pds,
.markdown-body-dark .pl-s .pl-pse .pl-s1,
.markdown-body-dark .pl-sr,
.markdown-body-dark .pl-sr .pl-cce,
.markdown-body-dark .pl-sr .pl-sre,
.markdown-body-dark .pl-sr .pl-sra {
  color: #a5d6ff;
}

.markdown-body-dark .pl-v,
.markdown-body-dark .pl-smw {
  color: #ffa657;
}

.markdown-body-dark .pl-bu {
  color: #f85149;
}

.markdown-body-dark .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

.markdown-body-dark .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

.markdown-body-dark .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

.markdown-body-dark .pl-ml {
  color: #f2cc60;
}

.markdown-body-dark .pl-mh,
.markdown-body-dark .pl-mh .pl-en,
.markdown-body-dark .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

.markdown-body-dark .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

.markdown-body-dark .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

.markdown-body-dark .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

.markdown-body-dark .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

.markdown-body-dark .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.markdown-body-dark .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

.markdown-body-dark .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

.markdown-body-dark .pl-ba {
  color: #8b949e;
}

.markdown-body-dark .pl-sg {
  color: #484f58;
}

.markdown-body-dark .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

.markdown-body-dark [data-catalyst] {
  display: block;
}

.markdown-body-dark g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body-dark g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body-dark::before {
  display: table;
  content: "";
}

.markdown-body-dark::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body-dark>*:first-child {
  margin-top: 0 !important;
}

.markdown-body-dark>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body-dark a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body-dark .absent {
  color: #f85149;
}

.markdown-body-dark .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body-dark .anchor:focus {
  outline: none;
}

.markdown-body-dark p,
.markdown-body-dark blockquote,
.markdown-body-dark ul,
.markdown-body-dark ol,
.markdown-body-dark dl,
.markdown-body-dark table,
.markdown-body-dark pre,
.markdown-body-dark details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body-dark blockquote>:first-child {
  margin-top: 0;
}

.markdown-body-dark blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body-dark sup>a::before {
  content: "[";
}

.markdown-body-dark sup>a::after {
  content: "]";
}

.markdown-body-dark h1 .octicon-link,
.markdown-body-dark h2 .octicon-link,
.markdown-body-dark h3 .octicon-link,
.markdown-body-dark h4 .octicon-link,
.markdown-body-dark h5 .octicon-link,
.markdown-body-dark h6 .octicon-link {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body-dark h1:hover .anchor,
.markdown-body-dark h2:hover .anchor,
.markdown-body-dark h3:hover .anchor,
.markdown-body-dark h4:hover .anchor,
.markdown-body-dark h5:hover .anchor,
.markdown-body-dark h6:hover .anchor {
  text-decoration: none;
}

.markdown-body-dark h1:hover .anchor .octicon-link,
.markdown-body-dark h2:hover .anchor .octicon-link,
.markdown-body-dark h3:hover .anchor .octicon-link,
.markdown-body-dark h4:hover .anchor .octicon-link,
.markdown-body-dark h5:hover .anchor .octicon-link,
.markdown-body-dark h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body-dark h1 tt,
.markdown-body-dark h1 code,
.markdown-body-dark h2 tt,
.markdown-body-dark h2 code,
.markdown-body-dark h3 tt,
.markdown-body-dark h3 code,
.markdown-body-dark h4 tt,
.markdown-body-dark h4 code,
.markdown-body-dark h5 tt,
.markdown-body-dark h5 code,
.markdown-body-dark h6 tt,
.markdown-body-dark h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body-dark ul.no-list,
.markdown-body-dark ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body-dark ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body-dark ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body-dark ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body-dark div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body-dark ul ul,
.markdown-body-dark ul ol,
.markdown-body-dark ol ol,
.markdown-body-dark ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-dark li>p {
  margin-top: 16px;
}

.markdown-body-dark li+li {
  margin-top: .25em;
}

.markdown-body-dark dl {
  padding: 0;
}

.markdown-body-dark dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body-dark dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body-dark table th,
.markdown-body-dark .comment .outer_container {
  font-weight: 600;
}

.markdown-body-dark table th,
.markdown-body-dark table td,
.markdown-body-dark .comment > .outer_container {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 12px;
}

.markdown-body-dark .comment > p {
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
}

.markdown-body-dark table tr,
.markdown-body-dark .comment .outer_container {
  background-color: #0d1117;
}

.markdown-body-dark table tr:nth-child(2n),
.markdown-body-dark .comment {
  background-color: #161b22;
}

.markdown-body-dark table img {
  background-color: transparent;
}

.markdown-body-dark img[align=right] {
  padding-left: 20px;
}

.markdown-body-dark img[align=left] {
  padding-right: 20px;
}

.markdown-body-dark .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body-dark span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body-dark span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.markdown-body-dark span.frame span img {
  display: block;
  float: left;
}

.markdown-body-dark span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

.markdown-body-dark span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body-dark span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body-dark span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body-dark span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body-dark span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body-dark span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body-dark span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body-dark span.float-left span {
  margin: 13px 0 0;
}

.markdown-body-dark span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body-dark span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body-dark code,
.markdown-body-dark tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}

.markdown-body-dark code br,
.markdown-body-dark tt br {
  display: none;
}

.markdown-body-dark del code {
  text-decoration: inherit;
}

.markdown-body-dark pre code {
  font-size: 100%;
}

.markdown-body-dark pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body-dark .highlight {
  margin-bottom: 16px;
}

.markdown-body-dark .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body-dark .highlight pre,
.markdown-body-dark pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.markdown-body-dark pre code,
.markdown-body-dark pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body-dark .csv-data td,
.markdown-body-dark .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body-dark .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

.markdown-body-dark .csv-data tr {
  border-top: 0;
}

.markdown-body-dark .csv-data th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

.markdown-body-dark .footnotes {
  font-size: 12px;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

.markdown-body-dark .footnotes ol {
  padding-left: 16px;
}

.markdown-body-dark .footnotes li {
  position: relative;
}

.markdown-body-dark .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

.markdown-body-dark .footnotes li:target {
  color: #c9d1d9;
}

.markdown-body-dark .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body-dark [hidden] {
  display: none !important;
}

.markdown-body-dark ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
